.jurassic-tab{

}
.jurassic-tab-header{
    border-bottom: 1px solid rgb(247,147,131);
}
.jurassic-tab-body{

}
.jurassic-tab-button{
    margin-left: 5px;
    padding: 6px 10px;
    border-left: 1px solid rgb(227,227,227);
    border-top: 1px solid rgb(227,227,227);
    border-right: 1px solid rgb(227,227,227);
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: transparent;
    outline: none;
}
.jurassic-tab-button-selected{
    margin-bottom: -1px;
    border-left: 1px solid rgb(247,147,131);
    border-top: 1px solid rgb(247,147,131);
    border-right: 1px solid rgb(247,147,131);
    border-bottom: 1px solid rgb(255,255,255);
}
.jurassic-tab-fragment{
    display: none;
}
.jurassic-tab-fragment-show{
    display: block;
}
