<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Dbconnectstring>Data Source=192.168.1.236;User ID=PKSUser;Password=Abc@123;Initial Catalog=PKSDNT3_cnoop;Pooling=true;App=Forum</Dbconnectstring>
  <!--<Dbconnectstring>Data Source=10.138.99.231;User ID=jurassic;Password=jurassic_pks@sz!87B515E8-0C4C-4B17-9A19-EE13D99DBAA7;Initial Catalog=PKS_DNT3;Pooling=true;App=Forum</Dbconnectstring>-->
  <Tableprefix>dnt_</Tableprefix>
  <Forumpath>/</Forumpath>
  <Dbtype>SqlServer</Dbtype>
  <Founderuid>1</Founderuid>
</BaseConfigInfo>