<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!--通用日志组件配置-->
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <!--NLog日志组件配置-->
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!--EF数据访问组件配置-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--异常映射配置-->
    <section name="pks.exception" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <!--对象映射配置-->
    <section name="pks.autoMapper" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <!--绑定注入配置-->
    <section name="pks.bindingInject" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <!--缓存配置-->
    <sectionGroup name="pks.cache">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
    <!--Oracle数据库访问配置，如果不使用客户端连接可不使用-->
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--连接到SQL Server数据库-->
    <!--现场发布使用-->
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="data source=10.138.99.231;initial catalog=FrameDB;user id=jurassic;password=jurassic_pks@sz!87B515E8-0C4C-4B17-9A19-EE13D99DBAA7;MultipleActiveResultSets=True;App=Forum"/>-->
    <!--现场开发使用-->
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="data source=10.138.99.231;initial catalog=FrameDB_Dev;user id=jurassic;password=jurassic_pks@sz!87B515E8-0C4C-4B17-9A19-EE13D99DBAA7;MultipleActiveResultSets=True;App=SZXT"/>
    <add name="ForumConnection" providerName="System.Data.SqlClient" connectionString="data source=10.138.99.231;initial catalog=PKS_DNT3;user id=jurassic;password=jurassic_pks@sz!87B515E8-0C4C-4B17-9A19-EE13D99DBAA7;MultipleActiveResultSets=True;App=Forum" />-->
    <!--公司使用-->
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="data source=192.168.1.236;initial catalog=PKSDB1.1_cnoop;user id=PKSUser;password=Abc@123;MultipleActiveResultSets=True;App=Forum" />
    <add name="ForumConnection" providerName="System.Data.SqlClient" connectionString="data source=192.168.1.236;initial catalog=PKSDNT3_cnoop;user id=PKSUser;password=Abc@123;MultipleActiveResultSets=True;App=Forum" />
    <!--连接到Oracle数据库-->
    <!--<add name="DefaultConnection" providerName="Oracle.ManagedDataAccess.Client" connectionString="DATA SOURCE=192.168.1.236:1521/PKS;USER ID=SYSFRAME;PASSWORD=jurassic;" />-->
    <!--<add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />-->
    <add connectionString="server=VM-WIN2008R2;database=acndb;user id=arsenalcn;pwd=Linfeng01!" name="Arsenalcn.ConnectionString" />
  </connectionStrings>
  <!--通用日志组件配置-->
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog41">
        <arg key="configType" value="INLINE" />
        <!--<arg key="configFile" value="NLog4.config" />-->
      </factoryAdapter>
    </logging>
  </common>
  <!--NLog日志组件配置-->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="PKS.Core.Implements" />
    </extensions>
    <targets>
      <!--数据库写失败了就写日志文件-->
      <target name="fallback" xsi:type="FallbackGroup" returnToFirstOnSuccess="true">
        <!--数据库写2次-->
        <target name="retry" xsi:type="RetryingWrapper" retryDelayMilliseconds="100" retryCount="1">
          <!--数据库文件，要与日志表匹配-->
          <target name="dblog" xsi:type="Database">
            <connectionStringName>DefaultConnection</connectionStringName>
            <commandText>
              INSERT INTO PKS_LOG
              (SYSTEM,LOGLEVEL,CREATEDDATE,MESSAGE,REQUEST,PRINCIPAL,EXSOURCE,EXCONTENT,EXDATA)
              VALUES
              (@SYSTEM,@LOGLEVEL,@CREATEDDATE,@MESSAGE,@REQUEST,@PRINCIPAL,@EXSOURCE,@EXCONTENT,@EXDATA)
            </commandText>
            <parameter name="@SYSTEM" layout="${pks-subsystem}" />
            <parameter name="@LOGLEVEL" layout="${level}" />
            <parameter name="@CREATEDDATE" layout="${date}" dbType="DateTime" />
            <parameter name="@MESSAGE" layout="${pks-message}" />
            <parameter name="@REQUEST" layout="${event-properties:item=Request}${pks-request}" />
            <parameter name="@PRINCIPAL" layout="${event-properties:item=Principal}${pks-principal}" />
            <parameter name="@EXSOURCE" layout="${event-properties:item=ExSource}${pks-exception-source}" />
            <parameter name="@EXCONTENT" layout="${event-properties:item=ExContent}${exception:format=Type,StackTrace:innerformat=Message,Type,StackTrace:separator=\r\n:MaxInnerExceptionLevel=100}" />
            <parameter name="@EXDATA" layout="${event-properties:item=ExData}${exception:format=Data:innerformat=Data:MaxInnerExceptionLevel=100}" />
          </target>
        </target>
        <!--日志文件，写数据库不成功就写文件-->
        <target name="dayFile" xsi:type="File" encoding="utf-8" fileName="${basedir}/Logs/${shortdate}.txt" layout="日志信息：${date} ${level} ${pks-message}${newline}会话信息：${pks-principal}${newline}请求信息：${pks-request}${newline}异常信息：${onexception:inner=${exception:format=Type,Data,StackTrace:innerformat=Message,Type,StackTrace:MaxInnerExceptionLevel=100:separator=\r\n:exceptionDataSeparator=\r\n}${newline}}}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="fallback" />
    </rules>
  </nlog>
  <!--EF数据访问组件配置-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--Oracle数据库访问配置，如果不使用客户端连接可不使用-->
  <!--<oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>-->
  <!--异常映射配置-->
  <pks.exception>
    <!--键为程序集名称，值为空-->
    <add key="PKS.Core" value="" />
  </pks.exception>
  <!--对象映射配置-->
  <pks.autoMapper>
    <!--键为程序集名称，值为空-->
    <add key="PKS.Core" value="" />
  </pks.autoMapper>
  <!--绑定注入配置-->
  <pks.bindingInject>
    <!--键为程序集名称，值为空-->
    <add key="PKS.DbServices" value="" />
    <add key="PKS.WebAPI.Wrapper" value="" />
  </pks.bindingInject>
  <pks.cache>
    <memcached>
      <servers>
        <!--<add address="10.138.99.231" port="11211" />-->
        <!--<add address="192.168.1.236" port="11211" />-->
        <add address="127.0.0.1" port="11211" />
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
    </memcached>
  </pks.cache>
  <appSettings>
    <add key="Arsenalcn.WebService.Url" value="http://www.arsenal.cn/WebService/ArsenalService.asmx" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!--主题索引标签定义模板-->
    <add key="TopicIndexTemplate" value="'pageid':'18','dsn':'勘探社区','showtype':'Mixing','fulltext':'[topicFulltext]','dataid':'[topicId]','title':'[topicTitle]','abstract':'[topicMessage]','author':'[topicPoster]','createddate':'[topicPostDateTime]','status':'已审核','pc':'勘探社区','pt':'[topicForumFullName]\\社区主题','bd':'勘探','system':'勘探知识库','resourcetype':'勘探知识库\\勘探社区[topicForumFullName]','resourcekey':'勘探知识库\\勘探社区[topicForumFullName]\\[topicId]'" />
    <!--本系统名称-->
    <add key="PKS_SubSystem" value="Forum" />
  </appSettings>
  <system.data>
    <!--使用Oracle数据库，修改默认提供者工厂-->
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <system.web>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.5.2" />
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5.2" requestValidationMode="2.0" maxRequestLength="2097151" executionTimeout="3600" />
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" enableCrossAppRedirects="true" loginUrl="~/SSOAccount/Login" defaultUrl="~/" protection="Validation" slidingExpiration="false" />
    </authentication>
    <machineKey validation="SHA1" decryption="AES" validationKey="8EE964CEC8BB8AFE3A4F42A3BE3654DA7751737130B39F1C2D955953BA448CB41DFBEEE4DF69A8CC26EC0B5CD5DB88444F2E93213A6F2417AF96695F15FBC08F" decryptionKey="AD85819F4C643BD96E14E025B0892442645DB512C196E0FD" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <pages enableSessionState="true" validateRequest="false" enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <healthMonitoring enabled="true"></healthMonitoring>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <xhtmlConformance mode="Legacy" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <location path="plugin">
    <system.web>
      <pages theme="Arsenalcn" />
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="NLog" type="NLog.Web.NLogHttpModule, NLog.Web" />
      <add type="Discuz.Forum.HttpModule, Discuz.Forum" name="HttpModule" />
    </modules>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <!--pdf组件本地化文件-->
      <mimeMap fileExtension=".properties" mimeType="application/l10n" />
    </staticContent>
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.85.4.369" newVersion="0.85.4.369" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>