@using Newtonsoft.Json
@model dynamic
@{
    //ViewBag.Title = ViewBag.data.title;
}
<link href="~/Content/styles/comment.css" rel="stylesheet" />

<div class="row">
    <div style="text-align:center">
        <h1 id="title">@Model.title</h1>
    </div>
    <div style="text-align:center;margin:20px 0px;">
        <span>作者：</span><span id="author">@Model.author</span>
        <span style="margin-left:30px;">创建时间：</span><span id="createdate"></span>

    </div>
</div>
<div id="el" style="width:auto;height:500px;">
    <pks:histogram :data="data" fontsize="15"></pks:histogram>
</div>
<div id="remarkcontainer" style="margin-top:30px">
    <pks:remark2 :id="'remark'" :iiid="iiid"></pks:remark2>
</div>
<script>


     var config =@Html.Raw(JsonConvert.SerializeObject(Model));
    var histogramData = config.dataSource ? JSON.parse(config.dataSource) : {};
    PKSUI.bind({
        el: "#el",
        data: {
            data: histogramData,
        },
        model: "pks:histogram",
    });
    var iiid = getPageParam("iiid");
    if (iiid) {
        var vm2 = PKSUI.bind({
            el: "#remarkcontainer",
            data: {
                iiid: iiid
            },
            model: 'pks:remark2'
        });
    }

    $(document).ready(function () {
        if (config.createddate) {
            var date = moment(config.createddate, "YYYY-MM-DDTHH:mm:ss.SSSZ").toDate();
            $('#createdate').html(date.format("yyyy-MM-dd hh:mm:ss"));
        }
    });
</script>