@using Newtonsoft.Json
@model dynamic
@{
    var favoriteText = ViewBag.hasFavorite ? "取消收藏" : "收藏";
}
<link href="~/Content/styles/comment.css" rel="stylesheet" />
<div class="row">
    <div style="text-align:center">
        <h1 id="title">@Model.title</h1>
    </div>
    <div style="text-align:center;margin:20px 0px;">
        <span>作者：</span><span id="author">@Model.author</span>
        <span style="margin-left:30px;">创建时间：</span><span id="createdate"></span>

    </div>
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-10" style="margin-bottom: 20px;">
        <a id="btnFavourite" cancelurl="/usercenter/CancelFavorite?userId=@Model.userid&IIID=@Request.Params["iiid"]" data-toggle="modal" onclick="addFeavourite()">@favoriteText</a>@*data-target="#favouriteModal"*@
        &nbsp;&nbsp;&nbsp;<a href="@Url.Action("DownloadFile",new RouteValueDictionary{{"iiid",Model.iiid},{"dataid",Model.dataid}})">下载</a>
    </div>
    <div class="col-md-12" style="height: 800px" id="ptpdfcontainer">
        <pks:pdf :pdfpath="pdfpath" :id="'mypdf'" :pdfshowurl="pdfshowurl"></pks:pdf>
    </div>

</div>
<div id="remarkcontainer" style="margin-top: 50px">
    <pks:remark2 :id="'remark'" :iiid="iiid"></pks:remark2>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="favouriteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    我的收藏
                </h4>
            </div>
            <div class="modal-body">
                <iframe style="width: 100%;height:100%" src="/UserCenter/FavoriteCatalogList?userId=@Model.userid&IIID=@Request.Params["iiid"]" frameborder="0"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default ok">
                    确定
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    取消
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
       var config =@Html.Raw(JsonConvert.SerializeObject(Model));
    var vm = PKSUI.bind({
        el: "#ptpdfcontainer",
        data: {
            pdfpath: config.dataSource,
            pdfshowurl: '/content/lib/pdfjs/ptpdf.show.html'
        },
        model: 'pks:pdf'
    });

    var iiid = getPageParam("iiid");
    if (iiid) {
        var vm2 = PKSUI.bind({
            el: "#remarkcontainer",
            data: {
                iiid: iiid
            },
            model: 'pks:remark2'
        });
    }

    $(document).ready(function () {
        if (config.createddate) {
            var date = moment(config.createddate, "YYYY-MM-DDTHH:mm:ss.SSSZ").toDate();
            $('#createdate').html(date.format("yyyy-MM-dd hh:mm:ss"));
        }
    });

    function addFeavourite() {
        var btnText = $('#btnFavourite').text();
        if (btnText == "取消收藏") {
            var url = $('#btnFavourite').attr("cancelurl");
            var result;
            $.ajax({
                async: false,
                type: "get",
                cache: false,
                url: url,
                datatype: "JSON",
                success: function (r) { result = r; }
            });
            if (result.code == 1) {
                $('#btnFavourite').text("收藏");
            }
        }
        else
            $('#favouriteModal').modal("show");
    }

    $('#favouriteModal .ok').click(function () {
        var addMethod = $('#favouriteModal iframe')[0].contentWindow.add;
        if (addMethod) {
            var addResult = addMethod();
            if (addResult) {
                if (addResult.code == 1) {
                    $('#btnFavourite').text("取消收藏");
                    //收藏成功
                } else {
                    alert(addResult.message);
                }
            }
        }

        $('#favouriteModal').modal('hide');
    });
</script>

