<?xml version="1.0" encoding="utf-8"?>

<!-- 有关使用 web.config 转换的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!--连接到SQL Server数据库-->
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="data source=10.138.99.231;initial catalog=FrameDB_Dev;user id=jurassic;password=jurassic_pks@sz!87B515E8-0C4C-4B17-9A19-EE13D99DBAA7;MultipleActiveResultSets=True;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <log4net>
    <appender name="JLogDbAppender" type="log4net.Appender.AdoNetAppender">
      <connectionString value="data source=10.138.99.231;initial catalog=FrameDB_Dev;user id=jurassic;password=jurassic_pks@sz!87B515E8-0C4C-4B17-9A19-EE13D99DBAA7;MultipleActiveResultSets=True;"
         xdt:Transform="SetAttributes" />
    </appender>
  </log4net>
  <appSettings>
    <!--Windows认证配置(上下文类型，一个域用户名，其密码，是否自动注册)-->
    <add key="PKS_WindowsAuth" value="Domain,ex_licp,1234AAaa,1"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
  </system.web>
</configuration>