@using Jurassic.WebRepeater;
@model Pager<Jurassic.WebTemplate.Controllers.HelloWorldModel>
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Scripts/bootstrap/css/bootstrap.min.css" />
<script src="~/Scripts/bootstrap/js/bootstrap.min.js"></script>
<h2>WebRepeater示例</h2>

@Html.Repeater()