<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!--通用日志组件配置-->
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <!--NLog日志组件配置-->
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!--EF数据访问组件配置-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--Oracle数据库访问配置，如果不使用客户端连接可不使用-->
    <!--<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>-->
    <!--异常映射配置-->
    <section name="pks.exception" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <!--对象映射配置-->
    <section name="pks.autoMapper" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <!--绑定注入配置-->
    <section name="pks.bindingInject" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <!--Mongo库配置-->
    <section name="pks.mongoConfig" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <!--Elasticsearch配置-->
    <section name="pks.elasticConfig" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <!--缓存配置-->
    <sectionGroup name="pks.cache">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--连接到SQL Server数据库-->
    <!--现场发布使用使用-->
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="data source=10.138.99.231;initial catalog=FrameDB;user id=jurassic;password=jurassic_pks@sz!87B515E8-0C4C-4B17-9A19-EE13D99DBAA7;MultipleActiveResultSets=True;App=SZXT"/>-->

    <!--现场开发使用使用-->
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="data source=10.138.99.231;initial catalog=FrameDB_Dev;user id=jurassic;password=jurassic_pks@sz!87B515E8-0C4C-4B17-9A19-EE13D99DBAA7;MultipleActiveResultSets=True;App=SZXT"/>-->

    <!--公司使用-->
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="data source=192.168.1.236;initial catalog=PKSDB1.1_cnoop;user id=PKSUser;password=Abc@123;MultipleActiveResultSets=True;App=SZXT" />

    <!--连接到Oracle数据库-->
    <!--<add name="DefaultConnection" providerName="Oracle.ManagedDataAccess.Client" connectionString="DATA SOURCE=192.168.1.236:1521/PKS;USER ID=SYSFRAME;PASSWORD=jurassic;" />-->
    <!--<add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />-->

    <!--GF使用的Oracle数据库-->
    <!--<add name="GeoFeatureConnection" providerName="Oracle.ManagedDataAccess.Client" connectionString="DATA SOURCE=192.168.1.236:1521/PKS;USER ID=geofeature;PASSWORD=geofeature;" />-->

    <!--MongoDB连接串:现场使用-->
    <!--<add name="MongoConnection" connectionString="mongodb://PKSUser:jurassic_pks_sz_498757d7-c90f-47d7-9139-7dc58c413db5@10.138.99.231:27017" />-->

    <!--MongoDB连接串:公司使用-->
    <add name="MongoConnection" connectionString="mongodb://192.168.1.236:27017" />

    <!--Elasticsearch连接串:现场使用-->
    <!--<add name="ElasticConnection" connectionString="http://10.138.99.231:9200" />-->

    <!--Elasticsearch连接串:公司使用-->
    <add name="ElasticConnection" connectionString="http://192.168.1.236:9200" />
  </connectionStrings>
  <!--通用日志组件配置-->
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog41">
        <arg key="configType" value="INLINE" />
        <!--<arg key="configFile" value="NLog4.config" />-->
      </factoryAdapter>
    </logging>
  </common>
  <!--NLog日志组件配置-->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="PKS.Core.Implements" />
    </extensions>
    <targets>
      <!--数据库写失败了就写日志文件-->
      <target name="fallback" xsi:type="FallbackGroup" returnToFirstOnSuccess="true">
        <!--数据库写2次-->
        <target name="retry" xsi:type="RetryingWrapper" retryDelayMilliseconds="100" retryCount="1">
          <!--数据库文件，要与日志表匹配-->
          <target name="dblog" xsi:type="Database">
            <connectionStringName>DefaultConnection</connectionStringName>
            <commandText>
              INSERT INTO PKS_LOG
              (SYSTEM,LOGLEVEL,CREATEDDATE,MESSAGE,REQUEST,PRINCIPAL,EXSOURCE,EXCONTENT,EXDATA)
              VALUES
              (@SYSTEM,@LOGLEVEL,@CREATEDDATE,@MESSAGE,@REQUEST,@PRINCIPAL,@EXSOURCE,@EXCONTENT,@EXDATA)
            </commandText>
            <parameter name="@SYSTEM" layout="${pks-subsystem}" />
            <parameter name="@LOGLEVEL" layout="${level}" />
            <parameter name="@CREATEDDATE" layout="${date}" dbType="DateTime" />
            <parameter name="@MESSAGE" layout="${pks-message}" />
            <parameter name="@REQUEST" layout="${event-properties:item=Request}${pks-request}" />
            <parameter name="@PRINCIPAL" layout="${event-properties:item=Principal}${pks-principal}" />
            <parameter name="@EXSOURCE" layout="${event-properties:item=ExSource}${pks-exception-source}" />
            <parameter name="@EXCONTENT" layout="${event-properties:item=ExContent}${exception:format=Type,StackTrace:innerformat=Message,Type,StackTrace:separator=\r\n:MaxInnerExceptionLevel=100}" />
            <parameter name="@EXDATA" layout="${event-properties:item=ExData}${exception:format=Data:innerformat=Data:MaxInnerExceptionLevel=100}" />
          </target>
        </target>
        <!--日志文件，写数据库不成功就写文件-->
        <target name="dayFile" xsi:type="File" encoding="utf-8" fileName="${basedir}/Logs/${shortdate}.txt" layout="日志信息：${date} ${level} ${pks-message}${newline}会话信息：${pks-principal}${newline}请求信息：${pks-request}${newline}异常信息：${onexception:inner=${exception:format=Type,Data,StackTrace:innerformat=Message,Type,StackTrace:MaxInnerExceptionLevel=100:separator=\r\n:exceptionDataSeparator=\r\n}${newline}}}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="fallback" />
    </rules>
  </nlog>
  <!--EF数据访问组件配置-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <!--Oracle数据库访问配置，如果不使用客户端连接可不使用-->
  <!--<oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>-->
  <!--异常映射配置-->
  <pks.exception>
    <!--键为程序集名称，值为空-->
    <add key="PKS.WebAPI.Implements" value="" />
  </pks.exception>
  <!--对象映射配置-->
  <pks.autoMapper>
    <!--键为程序集名称，值为空-->
    <add key="PKS.Core" value="" />
  </pks.autoMapper>
  <!--绑定注入配置-->
  <pks.bindingInject>
    <!--键为程序集名称，值为空-->
    <add key="PKS.DbServices" value="" />
    <add key="PKS.WebAPI.Implements" value="" />
    <add key="PKS.MgmtServices.Wrapper" value="" />
  </pks.bindingInject>
  <!--Mongo库配置-->
  <pks.mongoConfig>
    <!--数据库名称：公司开发使用-->
    <!--<add key="Database" value="PKS1.1" />-->
    <!--数据库名称：现场开发使用-->
    <add key="Database" value="szpks" />
    <!--元数据定义库使用Collection-->
    <add key="MetadataDefinitionCollection" value="metadatadefinition" />
    <!--文件格式Collection-->
    <add key="FileFormatsCollection" value="FileFormats" />
    <!--上传文件Collection-->
    <add key="UploadFilesCollection" value="UploadFiles" />
    <!--应用数据库使用Collection-->
    <add key="AppDataCollection" value="appdata" />
    <!--页面数据库使用Collection-->
    <add key="PageDataCollection" value="page" />
    <!--业务对象属性及坐标信息使用Collection-->
    <add key="BOCollection" value="bo" />
    <!--业务对象类型的属性定义集合-->
    <add key="BOTCollection" value="bot" />
    <!--索引数据上传文件保存路径，第一级是年月(201707)，第二级是日小时(0808)-->
    <add key="IndexUploadFilesPath" value="IndexUploadFiles" />
    <!--索引数据上传文件临时路径-->
    <add key="IndexUploadTempPath" value="IndexUploadTemp" />
  </pks.mongoConfig>
  <!--Elasticsearch配置-->
  <pks.elasticConfig>
    <!--索引：公司使用-->
    <!--<add key="Index" value="pks1.1" />-->
    <!--索引：现场开发使用-->
    <add key="Index" value="szpks" />
    <!--元数据-->
    <add key="MetadataType" value="metadata" />
    <!--用户行为日志-->
    <add key="UserBehaviorType" value="userbehavior" />
  </pks.elasticConfig>
  <pks.cache>
    <memcached>
      <servers>
        <!--<add address="10.138.99.231" port="11211" />-->
        <!--<add address="192.168.1.236" port="11211" />-->
        <add address="127.0.0.1" port="11211" />
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
    </memcached>
  </pks.cache>
  <appSettings>
    <!--本系统名称-->
    <add key="PKS_SubSystem" value="WEBAPI" />
    <!--Token过期参数,格式为(续期间隔，过期间隔)(单位为分钟)-->
    <add key="PKS_TokenExpireSettings" value="720,1440" />
    <!--图片最大尺寸,格式(长,宽)-->
    <add key="ImageMaxSize" value="800,600" />
    <!--缩略图默认尺寸,格式(长,宽)-->
    <add key="ThumbnailDefaultSize" value="120,120" />
    <!--盘古分词器词库地址-->
    <add key="PanGuDict" value="http://localhost:8080/API/SemanticService/GetDic4PanGu" />
  </appSettings>
  <!--Oracle数据库访问配置，如果不使用客户端连接可不使用-->
  <!--<oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>-->
  <system.data>
    <!--使用Oracle数据库，修改默认提供者工厂-->
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
    <client>
      <endpoint name="IMgmtService" address="net.pipe://localhost/PKSMgmtService" binding="netNamedPipeBinding" contract="PKS.MgmtServices.Core.IMgmtService" />
    </client>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
    </httpModules>
    <authentication mode="None">
      <forms name=".ASPXAUTH" protection="Validation" />
    </authentication>
    <machineKey validation="SHA1" decryption="AES" validationKey="8EE964CEC8BB8AFE3A4F42A3BE3654DA7751737130B39F1C2D955953BA448CB41DFBEEE4DF69A8CC26EC0B5CD5DB88444F2E93213A6F2417AF96695F15FBC08F" decryptionKey="AD85819F4C643BD96E14E025B0892442645DB512C196E0FD" />
    <globalization fileEncoding="utf-8" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="NLog" type="NLog.Web.NLogHttpModule, NLog.Web" />
    </modules>
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="*"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE"/>
      </customHeaders>
    </httpProtocol>-->
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <!--pdf组件本地化文件-->
      <mimeMap fileExtension=".properties" mimeType="application/l10n" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <!--使用Oracle托管访问程序集，版本冲突时加入-->
      <!--<dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
    </compilers>
  </system.codedom>
</configuration>
