<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Jurassic.AppCenter.SmartClient.Infrastructure.Module.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Jurassic.AppCenter.SmartClient.Infrastructure.Module.Properties.Settings>
            <setting name="UserDataUrl" serializeAs="String">
                <value>api/UserData</value>
            </setting>
            <setting name="RoleDataUrl" serializeAs="String">
                <value>api/RoleData</value>
            </setting>
            <setting name="FunctionDataUrl" serializeAs="String">
                <value>api/FunctionData</value>
            </setting>
            <setting name="LoginUrl" serializeAs="String">
                <value>api/Login</value>
            </setting>
            <setting name="ApiUrl" serializeAs="String">
                <value>http://localhost:3028/</value>
            </setting>
        </Jurassic.AppCenter.SmartClient.Infrastructure.Module.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
