<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--通用日志组件配置-->
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <!--NLog日志组件配置-->
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!--绑定注入配置-->
    <section name="pks.bindingInject" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <!--Oracle数据库访问配置，如果不使用客户端连接可不使用-->
    <!--<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>-->
  </configSections>
  <connectionStrings>
    <!--连接到SQL Server数据库-->
    <!--现场发布使用使用-->
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="data source=10.138.99.231;initial catalog=FrameDB;user id=jurassic;password=jurassic_pks@sz!87B515E8-0C4C-4B17-9A19-EE13D99DBAA7;MultipleActiveResultSets=True;App=SZXT"/>-->

    <!--现场开发使用使用-->
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="data source=10.138.99.231;initial catalog=FrameDB_Dev;user id=jurassic;password=jurassic_pks@sz!87B515E8-0C4C-4B17-9A19-EE13D99DBAA7;MultipleActiveResultSets=True;App=MgmtHost"/>-->

    <!--公司使用-->
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="data source=192.168.1.236;initial catalog=PKSDB1.1_cnoop;user id=PKSUser;password=Abc@123;MultipleActiveResultSets=True;App=Forum" />

    <!--连接到Oracle数据库-->
    <!--<add name="DefaultConnection" providerName="Oracle.ManagedDataAccess.Client" connectionString="DATA SOURCE=192.168.1.236:1521/PKS;USER ID=SYSFRAME;PASSWORD=jurassic;" />-->
    <!--<add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />-->
  </connectionStrings>
  <!--通用日志组件配置-->
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog41">
        <arg key="configType" value="INLINE" />
        <!--<arg key="configFile" value="NLog4.config" />-->
      </factoryAdapter>
    </logging>
  </common>
  <!--NLog日志组件配置-->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="PKS.Core.Implements" />
    </extensions>
    <targets>
      <!--数据库写失败了就写日志文件-->
      <target name="fallback" xsi:type="FallbackGroup" returnToFirstOnSuccess="true">
        <!--数据库写2次-->
        <target name="retry" xsi:type="RetryingWrapper" retryDelayMilliseconds="100" retryCount="1">
          <!--数据库文件，要与日志表匹配-->
          <target name="dblog" xsi:type="Database">
            <connectionStringName>DefaultConnection</connectionStringName>
            <commandText>
              INSERT INTO PKS_LOG
              (SYSTEM,LOGLEVEL,CREATEDDATE,MESSAGE,REQUEST,PRINCIPAL,EXSOURCE,EXCONTENT,EXDATA)
              VALUES
              (@SYSTEM,@LOGLEVEL,@CREATEDDATE,@MESSAGE,@REQUEST,@PRINCIPAL,@EXSOURCE,@EXCONTENT,@EXDATA)
            </commandText>
            <parameter name="@SYSTEM" layout="${pks-subsystem}" />
            <parameter name="@LOGLEVEL" layout="${level}" />
            <parameter name="@CREATEDDATE" layout="${date}" dbType="DateTime" />
            <parameter name="@MESSAGE" layout="${pks-message}" />
            <parameter name="@REQUEST" layout="${event-properties:item=Request}${pks-request}" />
            <parameter name="@PRINCIPAL" layout="${event-properties:item=Principal}${pks-principal}" />
            <parameter name="@EXSOURCE" layout="${event-properties:item=ExSource}${pks-exception-source}" />
            <parameter name="@EXCONTENT" layout="${event-properties:item=ExContent}${exception:format=Type,StackTrace:innerformat=Message,Type,StackTrace:separator=\r\n:MaxInnerExceptionLevel=100}" />
            <parameter name="@EXDATA" layout="${event-properties:item=ExData}${exception:format=Data:innerformat=Data:MaxInnerExceptionLevel=100}" />
          </target>
        </target>
        <!--日志文件，写数据库不成功就写文件-->
        <target name="dayFile" xsi:type="File" encoding="utf-8" fileName="${basedir}/Logs/${shortdate}.txt" layout="日志信息：${date} ${level} ${pks-message}${newline}异常信息：${onexception:inner=${exception:format=Type,Data,StackTrace:innerformat=Message,Type,StackTrace:MaxInnerExceptionLevel=100:separator=\r\n:exceptionDataSeparator=\r\n}${newline}}}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="fallback" />
    </rules>
  </nlog>
  <!--Oracle数据库访问配置，如果不使用客户端连接可不使用-->
  <!--<oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>-->
  <!--绑定注入配置-->
  <pks.bindingInject>
    <!--键为程序集名称，值为空-->
    <add key="PKS.MgmtServices.Implement" value="" />
  </pks.bindingInject>
  <appSettings>
    <!--本系统名称-->
    <add key="PKS_SubSystem" value="MgmtHost" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <services>
      <service name="PKS.MgmtServices.Core.MgmtService">
        <endpoint address="net.pipe://localhost/PKSMgmtService" binding="netNamedPipeBinding" contract="PKS.MgmtServices.Core.IMgmtService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>