<?xml version="1.0" encoding="utf-8"?>

<!-- 有关使用 web.config 转换的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!--现场开发使用-->
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="data source=10.138.99.231;initial catalog=FrameDB_Dev;user id=jurassic;password=jurassic_pks@sz!87B515E8-0C4C-4B17-9A19-EE13D99DBAA7;MultipleActiveResultSets=True;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <!--混合认证方式-->
    <add key="PKS_MixedAuth" value="true"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--Windows认证配置(上下文类型，一个域用户名，其密码，是否自动注册)-->
    <add key="PKS_WindowsAuth" value="Domain,,,1"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <authentication mode="None"
         xdt:Transform="SetAttributes">
      <forms name=".ASPXAUTH" enableCrossAppRedirects="true" loginUrl="~/Account/Login" defaultUrl="~/" protection="Validation" slidingExpiration="false" />
    </authentication>
  </system.web>
  <!-- 支持混合认证 -->
  <location path="WindowsLogin"
            xdt:Transform="InsertBefore(/configuration/system.webServer)">
    <system.webServer>
      <handlers>
        <!--register windows login managed handler.-->
        <add name="Windows Login Handler" path="WindowsLogin" verb="POST" type="PKS.Web.WindowsLoginHandler" preCondition="integratedMode" />
      </handlers>
      <modules>
        <remove name="FormsAuthentication" />
      </modules>
      <security>
        <authentication>
          <anonymousAuthentication enabled="false"/>
          <windowsAuthentication enabled="true" />
        </authentication>
      </security>
    </system.webServer>
  </location>
</configuration>