@{
    Layout = "~/Views/_MyLayout.cshtml";
    ViewBag.Title = "自定义布局页面";
}

<h2>自定义布局页面</h2>
<article>
    TIPS: 你可以将 Views/Shared/_ViewStart.cshtml中代码改为<br />
    <code> Layout = "~/Views/_MyLayout.cshtml";</code>
    <br />
    这样就避免了每个视图都加这一行声明。
</article>
