<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <log4net>
    <!--定义输出到文件中-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd'.txt'" />
      <staticLogFileName value="false" />
      <param name="MaxSizeRollBackups" value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="%newline %n记录时间：%date %n线程ID:[%thread] %n日志级别：  %-5level %n出错类：%logger property: [%property{NDC}] - %n错误描述：%message%newline %n" />
      </layout>
    </appender>
    <appender name="JLogDbAppender" type="log4net.Appender.AdoNetAppender">
      <!--调试状态下设置为0以便于及时看到-->
      <bufferSize value="0" />
      <!--<connectionType value="Oracle.ManagedDataAccess.Client.OracleConnection,Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <connectionString value="Data Source= (DESCRIPTION =     (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.1.115)(PORT = 1521))     (CONNECT_DATA =       (SERVER = DEDICATED)       (SERVICE_NAME = ORCL)     )   );User ID=WEBFRAME;Password=123;Persist Security Info=True" />-->
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="server=192.168.1.135;user id=sa;pwd=jurassic;initial catalog=FrameDb;Connect Timeout=6000;Max Pool Size=75; Min Pool Size=5" />
      <commandText value="INSERT INTO SYS_LOG(                    MODULENAME                    ,ACTIONNAME                    ,USERNAME                    ,CLIENTIP                    ,OPTIME                    ,CATALOGID                    ,OBJECTID                    ,LOGTYPE                    ,REQUEST                    ,COSTS                    ,MESSAGE                    ,BROWSER                    ,BROWSERVERSION                    ,PLATFORM)                    VALUES(                    :ModuleName,                    :ActionName,                    :UserName,                    :ClientIP,                    :OpTime,                    :CatalogId,                    :ObjectId,                    :LogType,                    :Request,                    :Costs,                    :Message,                    :Browser,                    :BrowserVersion,                    :Platform)" />
      <parameter>
        <parameterName value=":ModuleName" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ModuleName}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":ActionName" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ActionName}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":UserName" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{UserName}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":ClientIP" />
        <dbType value="String" />
        <size value="20" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ClientIP}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":OpTime" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout">
          <conversionPattern value="%property{OpTime}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":CatalogId" />
        <dbType value="Int32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{CatalogId}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":ObjectId" />
        <dbType value="Int32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ObjectId}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":LogType" />
        <dbType value="String" />
        <size value="20" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{LogType}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":Request" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Request}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":Costs" />
        <dbType value="Double" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Costs}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":Message" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Message}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":Browser" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Browser}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":BrowserVersion" />
        <dbType value="Double" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{BrowserVersion}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":Platform" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Platform}" />
        </layout>
      </parameter>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="JLogDbAppender" />
      <!--<appender-ref ref="RollingLogFileAppender" />-->
    </root>
  </log4net>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=AppCenterDb;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\WebTemplateDB.mdf" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=192.168.1.156;Initial Catalog=SooilDB;Persist Security Info=True;User ID=sooil;Password=sooiljurassic;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source= (DESCRIPTION =     (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.1.115)(PORT = 1521))     (CONNECT_DATA =       (SERVER = DEDICATED)       (SERVICE_NAME = ORCL)     )   );User ID=PMDB;Password=officialsite;Persist Security Info=True" providerName="Oracle.ManagedDataAccess.Client" />-->
    <add name="DefaultConnection" connectionString="server=192.168.1.135;user id=sa;pwd=jurassic;initial catalog=FrameDB;Connect Timeout=6000;Max Pool Size=75; Min Pool Size=5" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="User ID=frac;Password=frac;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST =192.168.198.24)(PORT=1522)))(CONNECT_DATA=(SERVICE_NAME=jrscorcl)));pooling=true;Min Pool Size=4;Max Pool Size=500;enlist=false;" providerName="Oracle.ManagedDataAccess.Client" />-->
  </connectionStrings>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true" />
    <!-- 邮件服务器和账号设置，此处用的是开发者的个人账号，请使用其他账号替代之 -->
    <add key="MailSettings" value="From=MY_SELF&lt;wangjiaxin@jurassic.com.cn&gt;;Server=smtp.jurassic.com.cn;UserName=wangjiaxin@jurassic.com.cn;Password=123" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--MongoDB数据库连接,将max pool size设置得大一点才能应付文件流传输的场景-->
    <add key="mongoDb" value="Server=192.168.1.105;max pool size=2000" />
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="60" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add varyByCustom="DataChanged" varyByParam="*" duration="600" name="Index" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <httpRuntime maxRequestLength="204800" executionTimeout="3600" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="D:\tmp\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  <!--如果EF使用oracle库则需以下配置节-->
  <!--<entityFramework>
    <defaultConnectionFactory type="Oracle.ManagedDataAccess.EntityFramework.OracleConnectionFactory, Oracle.ManagedDataAccess.EntityFramework" />
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess" />
    </DbProviderFactories>
  </system.data>-->
  <!--如果EF使用sqlserver库则需以下配置节-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>