<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--通用日志组件配置-->
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <!--NLog日志组件配置-->
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!--EF数据访问组件配置-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--Oracle数据库访问配置，如果不使用客户端连接可不使用-->
    <!--<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>-->
    <!--异常映射配置-->
    <section name="pks.exception" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <!--对象映射配置-->
    <section name="pks.autoMapper" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <!--绑定注入配置-->
    <section name="pks.bindingInject" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!--通用日志组件配置-->
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog41">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <!--NLog日志组件配置-->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="asyncFile" xsi:type="AsyncWrapper">
        <target name="dayFile" xsi:type="File" encoding="utf-8" fileName="${basedir}/Logs/${shortdate}.txt" layout="日志信息：${time} ${level} ${message}${newline}会话信息：${aspnet-SessionId} ${aspnet-User-Identity}${newline}请求URL：${aspnet-Request-Method} ${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}${newline}发出请求：${aspnet-request-referrer}${newline}${onexception:inner=异常信息：${exception:format=Message,Type,Data,StackTrace:separator=\r\n:exceptionDataSeparator=\r\n}${newline}}}" />
      </target>
      <target name="asyncDatabase" xsi:type="AsyncWrapper">
        <target name="syslog" xsi:type="Database">
          <connectionStringName>DefaultConnection</connectionStringName>
          <commandText>
            INSERT INTO dbo.[Sys_Log]
            ([ModuleName],[ActionName],[UserName],[ClientIP],[OpTime],[CatalogId],[ObjectId],[LogType],[Request],[Costs],[Message],[Browser],[BrowserVersion],[Platform])
            VALUES
            (@ModuleName,@ActionName,@UserName,@ClientIP,@OpTime,@CatalogId,@ObjectId,@LogType,@Request,@Costs,@Message,@Browser,@BrowserVersion,@Platform)
          </commandText>
          <parameter name="@ModuleName" layout="${event-properties:item=ModuleName}" />
          <parameter name="@ActionName" layout="${event-properties:item=ActionName}" />
          <parameter name="@UserName" layout="${event-properties:item=UserName}" />
          <parameter name="@ClientIP" layout="${event-properties:item=ClientIP}" />
          <parameter name="@OpTime" layout="${event-properties:item=OpTime}" />
          <parameter name="@CatalogId" layout="${event-properties:item=CatalogId}" />
          <parameter name="@ObjectId" layout="${event-properties:item=ObjectId}" />
          <parameter name="@LogType" layout="${event-properties:item=LogType}" />
          <parameter name="@Request" layout="${event-properties:item=Request}" />
          <parameter name="@Costs" layout="${event-properties:item=Costs}" />
          <parameter name="@Message" layout="${event-properties:item=Message}" />
          <parameter name="@Browser" layout="${event-properties:item=Browser}" />
          <parameter name="@BrowserVersion" layout="${event-properties:item=BrowserVersion}" />
          <parameter name="@Platform" layout="${event-properties:item=Platform}" />
        </target>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="asyncDatabase" />
      <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="asyncFile" />
    </rules>
  </nlog>
  <!--EF数据访问组件配置-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--异常映射配置-->
  <pks.exception>
    <!--键为程序集名称，值为空-->
    <add key="PKS.Core" value="" />
  </pks.exception>
  <!--对象映射配置-->
  <pks.autoMapper>
    <!--键为程序集名称，值为空-->
    <add key="PKS.Core" value="" />
  </pks.autoMapper>
  <!--绑定注入配置-->
  <pks.bindingInject>
    <!--键为程序集名称，值为空-->
    <add key="PKS.Core" value="" />
  </pks.bindingInject>
  <!--Oracle数据库访问配置，如果不使用客户端连接可不使用-->
  <!--<oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>-->
  <connectionStrings>
    <!--连接到SQL Server数据库-->
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="" />-->
    <!--连接到Oracle数据库-->
    <add name="DefaultConnection" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
  </connectionStrings>
  <system.data>
    <!--使用Oracle数据库，修改默认提供者工厂-->
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--使用Oracle托管访问程序集，版本冲突时加入-->
      <!--<dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>