ol, ul {
    list-style: none
}

.mainCol {
    width: 1100px;
    margin: 0 auto;
    /*min-height: 800px*/
}

.hide {
    display: none
}

.show {
    display: block
}

.kn_left {
    float: left
}

.kn_right {
    float: right
}

a:hover {
    color: #666
}

.csdn-toolbar {
    height: 40px;
    background: #f6f6f6 !important;
    border-bottom: 1px solid #dfdfdf
}

    .csdn-toolbar .container {
        width: 1140px
    }

    .csdn-toolbar .loginlink {
        background: 0 0 !important
    }

.padding15px {
    padding: 0 15px
}

.ernav {
    background-color: #333;
    width: 100%;
    height: 52px
}

    .ernav .logo {
        background: url(../images/web/logo.png) top center no-repeat;
        width: 100px;
        height: 28px;
        float: left;
        margin-top: 12px
    }

    .ernav .navs {
        float: left;
        height: 52px;
        margin-left: 10px
    }

        .ernav .navs li {
            font-size: 16px;
            float: left
        }

            .ernav .navs li .ahot {
                position: relative
            }

                .ernav .navs li .ahot:before {
                    content: "hot";
                    position: absolute;
                    top: 10px;
                    right: 0;
                    color: #fff;
                    background-color: #ff5a00;
                    font-size: xx-small;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    border-radius: 5px;
                    height: 12px;
                    text-align: center;
                    line-height: 12px;
                    padding: 0 5px;
                    animation: navNew .4s linear infinite;
                    -moz-animation: navNew .4s linear infinite;
                    -webkit-animation: navNew .4s linear infinite;
                    -o-animation: navNew .4s linear infinite
                }

            .ernav .navs li a {
                color: #eee;
                padding: 0 30px;
                line-height: 52px;
                display: inline-block;
                -webkit-transition: background-color .3s ease-out;
                -moz-transition: background-color .3s ease-out;
                -ms-transition: background-color .3s ease-out;
                -o-transition: background-color .3s ease-out
            }

            .ernav .navs li .curoot, .ernav .navs li .my_knowledge:hover {
                color: #e49938
            }

            .ernav .navs li .my_knowledgewrap {
                position: relative;
                z-index: 10
            }

            .ernav .navs li .my_knowledge {
                position: relative;
                width: auto !important;
                margin-top: 0 !important
            }

                .ernav .navs li .my_knowledge i {
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    display: block;
                    background-color: #f94b4b;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    border-radius: 5px;
                    top: 35%;
                    right: 20px
                }

                .ernav .navs li .my_knowledge .fa-angle-down {
                    width: auto;
                    height: auto;
                    background: 0 0;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    -ms-border-radius: 0;
                    -o-border-radius: 0;
                    border-radius: 0;
                    right: 14px;
                    top: 40%
                }

            .ernav .navs li .submenu {
                position: absolute;
                top: 52px;
                left: 22px;
                background-color: #1f1f1f;
                padding: 10px 15px 15px;
                width: 101px;
                display: none
            }

                .ernav .navs li .submenu:before {
                    border: 5px solid #1f1f1f;
                    border-left-color: transparent;
                    border-top-color: transparent;
                    border-right-color: transparent;
                    position: absolute;
                    top: -10px;
                    left: 45%;
                    content: "";
                    width: 0;
                    height: 0
                }

                .ernav .navs li .submenu li {
                    padding: 5px 0;
                    border-bottom: 1px solid #2e2e2e;
                    float: none;
                    width: 100%;
                    text-align: center;
                    position: relative
                }

                    .ernav .navs li .submenu li a {
                        color: #fff;
                        font-size: 14px;
                        padding: 0;
                        line-height: normal
                    }

                        .ernav .navs li .submenu li a:hover {
                            color: #e49938
                        }

                        .ernav .navs li .submenu li a i {
                            position: absolute;
                            width: 5px;
                            height: 5px;
                            display: block;
                            background-color: #f94b4b;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            -ms-border-radius: 5px;
                            -o-border-radius: 5px;
                            border-radius: 5px;
                            top: 50%;
                            left: -3px
                        }

                .ernav .navs li .submenu .noborder {
                    border: none
                }

        .ernav .navs .most a em {
            margin-right: 6px
        }

        .ernav .navs .most a .fa {
            vertical-align: middle;
            margin-top: -8px
        }

    .ernav .listmenus {
        display: none;
        background-color: #212121;
        position: absolute;
        padding: 20px 5px;
        border-left: 1px solid #333;
        border-right: 1px solid #333;
        border-bottom: 1px solid #333;
        z-index: 1000
    }

        .ernav .listmenus ul {
            float: left;
            border-right: 1px solid #333;
            padding: 0 25px
        }

            .ernav .listmenus ul li {
                padding-bottom: 15px
            }

                .ernav .listmenus ul li a {
                    color: #fff;
                    padding: 0;
                    font-size: 14px
                }

            .ernav .listmenus ul .lastli {
                padding-bottom: 0
            }

        .ernav .listmenus .lastul {
            border: none
        }

    .ernav .allicons {
        float: right;
        height: 33px;
        margin-top: 9px;
        position: relative;
        width: 272px;
        z-index: 5
    }

        .ernav .allicons .nav_search {
            width: 272px;
            height: 33px;
            background-color: #fff;
            padding: 0 0 0 10px;
            float: left;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10000
        }

            .ernav .allicons .nav_search label {
                float: left;
                width: 230px;
                margin-bottom: 0
            }

                .ernav .allicons .nav_search label input {
                    width: 230px;
                    height: 33px;
                    border: none;
                    outline: 0;
                    color: #333;
                    font-size: 14px
                }

                .ernav .allicons .nav_search label .gray {
                    color: #bbb
                }

            .ernav .allicons .nav_search .searchbtn {
                float: right;
                position: relative;
                margin-right: 5px;
                margin-top: 1px;
                width: 22px;
                height: 30px;
                text-align: center
            }

                .ernav .allicons .nav_search .searchbtn input {
                    background: rgba(255,0,0,0);
                    border: none;
                    outline: 0;
                    width: 22px;
                    height: 30px;
                    position: absolute;
                    top: 0;
                    right: 5px
                }

                .ernav .allicons .nav_search .searchbtn .fa-search {
                    color: #ea9d38;
                    font-size: 18px;
                    margin-top: 6px;
                    margin-right: 22px
                }

            .ernav .allicons .nav_search .search_list {
                border: 1px solid #ddd;
                padding: 2px;
                position: absolute;
                left: 0;
                top: 34px;
                z-index: 10000;
                width: 100%;
                display: none
            }

                .ernav .allicons .nav_search .search_list .resultp {
                    font-size: 14px;
                    color: #333;
                    padding: 0 20px;
                    display: block
                }

                    .ernav .allicons .nav_search .search_list .resultp:hover {
                        background-color: #eff3f5;
                        color: #ea9d38
                    }

                    .ernav .allicons .nav_search .search_list .resultp span {
                        display: block;
                        border-bottom: 1px dashed #ddd;
                        padding: 5px 0;
                        word-wrap: break-word;
                        position: relative
                    }

                        .ernav .allicons .nav_search .search_list .resultp span em {
                            word-wrap: break-word;
                            width: 185px;
                            display: inline-block
                        }

                        .ernav .allicons .nav_search .search_list .resultp span .fa {
                            color: #bbb;
                            font-size: 15px
                        }

                        .ernav .allicons .nav_search .search_list .resultp span .fa-clock-o {
                            margin-right: 10px;
                            vertical-align: top;
                            margin-top: 2px
                        }

                        .ernav .allicons .nav_search .search_list .resultp span .fa-close {
                            position: absolute;
                            cursor: pointer;
                            right: 0;
                            top: 7px
                        }

                .ernav .allicons .nav_search .search_list .hotsearch, .ernav .allicons .nav_search .search_list .hotsearchall {
                    color: #999;
                    font-size: 12px;
                    padding: 5px 20px;
                    display: block
                }

                    .ernav .allicons .nav_search .search_list .hotsearch:hover, .ernav .allicons .nav_search .search_list .hotsearchall:hover {
                        background-color: #eff3f5;
                        color: #ea9d38
                    }

                .ernav .allicons .nav_search .search_list .hotsearchall {
                    display: none;
                    word-wrap: break-word
                }

                    .ernav .allicons .nav_search .search_list .hotsearchall a {
                        color: #999
                    }

                .ernav .allicons .nav_search .search_list .alltext {
                    font-size: 12px;
                    text-align: left;
                    background-color: #f7f7f7;
                    padding: 5px 20px;
                    border-top: 1px solid #f7f7f7;
                    margin-left: -3px;
                    width: 272px;
                    display: none
                }

                    .ernav .allicons .nav_search .search_list .alltext a {
                        color: #333
                    }

                .ernav .allicons .nav_search .search_list .listkeys {
                    margin-top: 5px;
                    margin-bottom: 10px
                }

                    .ernav .allicons .nav_search .search_list .listkeys li a {
                        color: #333;
                        font-size: 14px;
                        display: block;
                        padding: 5px 20px;
                        line-height: normal;
                        word-wrap: break-word
                    }

                        .ernav .allicons .nav_search .search_list .listkeys li a:hover {
                            background-color: #eff3f5
                        }

                            .ernav .allicons .nav_search .search_list .listkeys li a:hover .stext em {
                                color: #ea9d38
                            }

                        .ernav .allicons .nav_search .search_list .listkeys li a .simg {
                            float: left;
                            width: 40px
                        }

                            .ernav .allicons .nav_search .search_list .listkeys li a .simg img {
                                -webkit-border-radius: 40px;
                                -moz-border-radius: 40px;
                                -ms-border-radius: 40px;
                                -o-border-radius: 40px;
                                border-radius: 40px;
                                border: 1px solid #eff3f5
                            }

                        .ernav .allicons .nav_search .search_list .listkeys li a .stext {
                            float: left;
                            width: 175px;
                            margin-left: 10px
                        }

                            .ernav .allicons .nav_search .search_list .listkeys li a .stext em {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                color: #333;
                                display: block
                            }

                            .ernav .allicons .nav_search .search_list .listkeys li a .stext b {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 12px;
                                color: #999;
                                display: block;
                                margin-top: 5px
                            }

                    .ernav .allicons .nav_search .search_list .listkeys .tuwens, .ernav .allicons .nav_search .search_list .searchku {
                        display: none
                    }

                    .ernav .allicons .nav_search .search_list .listkeys li a .stext b i {
                        font-style: normal;
                        color: #333;
                        font-weight: 400
                    }

                    .ernav .allicons .nav_search .search_list .listkeys .tuwens a {
                        padding: 10px 20px
                    }

                .ernav .allicons .nav_search .search_list .searchku .hotsearch, .ernav .allicons .nav_search .search_list .searchku .resultp {
                    font-size: 12px;
                    color: #333
                }

                    .ernav .allicons .nav_search .search_list .searchku .hotsearch:hover, .ernav .allicons .nav_search .search_list .searchku .resultp:hover {
                        background-color: #eff3f5;
                        color: #ea9d38
                    }

                .ernav .allicons .nav_search .search_list .searchdefault .resultp:hover {
                    color: #333
                }

                .ernav .allicons .nav_search .search_list .searchdefault .hotsearch:hover {
                    background-color: #fff;
                    color: #999
                }

        .ernav .allicons .tj_btn {
            float: right;
            font-size: 14px;
            color: #fff;
            border: 1px solid #ea9d38;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            border-radius: 4px;
            height: 30px;
            line-height: 30px;
            padding: 0 10px;
            margin-left: 20px;
            margin-top: 2px;
            display: none
        }

            .ernav .allicons .tj_btn:hover {
                background-color: #ea9d38
            }

.whitebk, .windowLayer {
    background-color: #fff
}

.csdn-toolbar .login-wrap .search {
    display: none !important
}

@-ms-keyframes navNew {
    0%,100% {
        top: 10px
    }

    50% {
        top: 11px
    }
}

@-moz-keyframes navNew {
    0%,100% {
        top: 10px
    }

    50% {
        top: 11px
    }
}

@-webkit-keyframes navNew {
    0%,100% {
        top: 10px
    }

    50% {
        top: 11px
    }
}

@-o-keyframes navNew {
    0%,100% {
        top: 10px
    }

    50% {
        top: 11px
    }
}

@keyframes navNew {
    0%,100% {
        top: 10px
    }

    50% {
        top: 11px
    }
}

.banner_div {
    height: 132px;
    width: 100%;
    margin-bottom: 20px
}

    .banner_div .mainCol {
        min-height: inherit
    }

#alink {
    position: absolute;
    left: 0;
    top: 0;
    width: 1207px;
    height: 400px;
    background: #fff;
    opacity: 0;
    z-index: 4
}

.windowLayer {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    display: none
}

.closec {
    color: #666;
    font-size: 26px;
    float: right;
    font-weight: 700
}

.header_top .numtext, .header_top .text {
    color: #fff;
    text-align: center
}

.blank_10px, .blank_20px, .blank_25px {
    clear: both;
    line-height: normal;
    font-size: 0
}

.marklayer {
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    opacity: .8;
    filter: alpha(Opacity=80);
    z-index: 8
}

body {
    background-color: #f3f5f8;
    font-family: Microsoft Yahei
}

.whitebk {
    background: #fff
}

.setborder {
    border: 1px solid #cad1e0;
    -webkit-box-shadow: 0 0 4px 0 #b8c3d9;
    -moz-box-shadow: 0 0 4px 0 #b8c3d9;
    -o-box-shadow: 0 0 4px 0 #b8c3d9;
    -ms-box-shadow: 0 0 4px 0 #b8c3d9;
    box-shadow: 0 0 4px 0 #b8c3d9
}

.kn_sub_right, .w860px {
    -webkit-box-shadow: 0 1px 3px #ccc
}

.w860px {
    width: 1070px;
    border: 1px solid #dfdfdf;
    -moz-box-shadow: 0 1px 3px #ccc;
    -o-box-shadow: 0 1px 3px #ccc;
    -ms-box-shadow: 0 1px 3px #ccc;
    box-shadow: 0 1px 3px #ccc
}

.w270px {
    width: 270px
}

.pos {
    position: relative
}

.blank_10px {
    height: 10px
}

.blank_20px {
    height: 20px
}

.blank_25px {
    height: 25px
}

.header_top .banner {
    background: url(../images/web/newimgs/newbanner.jpg) top center no-repeat;
    height: 165px;
    background-size: cover;
    width: 100%
}

.header_top .text {
    font-size: 26px;
    padding-top: 60px
}

.header_top .centermiddle {
    position: relative;
    width: 1140px;
    margin: 0 auto;
    height: 165px
}

.header_top .linkbtn {
    display: block;
    width: 1140px;
    height: 165px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

.header_top .numtext .text {
    display: block;
    font-size: 12px;
    padding-top: 50px;
    padding-bottom: 10px
}

.header_top .numtext .num {
    background: url(../images/web/newimgs/numberbj.png) top center no-repeat;
    display: inline-block;
    width: 38px;
    height: 40px;
    color: #333;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    margin: 0 1px
}

.rhtitle {
    font-size: 14px;
    color: #4c5c7f;
    letter-spacing: 1px;
    font-weight: 700
}

    .rhtitle a {
        font-size: 12px;
        color: #2092d9;
        float: right
    }

.kn_sub .kn_tab_title span .cura, .kn_sub .kn_tab_title span a {
    font-size: 13px;
    color: #7c89a6
}

.imphoto {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px
}

.kn_sub .kn_tab_title {
    height: 45px;
    line-height: 45px;
    padding: 0 20px
}

    .kn_sub .kn_tab_title span a {
        letter-spacing: 0
    }

    .kn_sub .kn_tab_title span .fa-angle-right {
        display: inline-block;
        margin: 0 10px
    }

.kn_sub .errors, .kn_sub_right p a {
    margin-left: 10px
}

.kn_sub .kn_infor_text {
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: #faa91e;
    background-color: #faf7e1;
    padding: 0 20px;
    text-align: left;
    border: 1px solid #e4e9f2
}

.kn_sub .kn_sub_content {
    padding: 30px
}

    .kn_sub .kn_sub_content p {
        font-size: 14px;
        color: #7c89a6;
        margin-top: 25px
    }

    .kn_sub .kn_sub_content .subdiv {
        margin-top: 10px
    }

        .kn_sub .kn_sub_content .subdiv .inputwrap {
            background: #fff;
            border: 1px solid #b8c3d9;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            border-radius: 2px;
            width: 100%;
            padding: 0 5px;
            height: 36px;
            margin-right: 12px
        }

            .kn_sub .kn_sub_content .subdiv .inputwrap input[type=text] {
                outline: 0;
                border: none;
                width: 100%;
                height: 34px
            }

        .kn_sub .kn_sub_content .subdiv .selectput {
            background: #fff;
            border: 1px solid #b8c3d9;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            border-radius: 2px;
            width: 180px;
            height: 36px;
            margin-right: 12px
        }

            .kn_sub .kn_sub_content .subdiv .selectput select {
                border: none;
                width: 100%;
                height: 100%;
                outline: 0;
                font-size: 14px;
                color: #4c5c7f;
                letter-spacing: 0
            }

    .kn_sub .kn_sub_content .pcheck {
        vertical-align: middle;
        font-size: 14px;
        color: #7c89a6;
        padding-top: 20px
    }

        .kn_sub .kn_sub_content .pcheck label {
            margin-right: 5px
        }

        .kn_sub .kn_sub_content .pcheck a {
            color: #2092d9
        }

    .kn_sub .kn_sub_content .pbtns {
        text-align: left;
        padding: 10px 0 80px
    }

        .kn_sub .kn_sub_content .pbtns .subatbns {
            font-size: 14px;
            color: #fff;
            letter-spacing: 0;
            background: #2092d9;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            border-radius: 2px;
            display: block;
            width: 80px;
            height: 28px;
            line-height: 28px;
            text-align: center
        }

.kn_sub .errors {
    font-size: 14px;
    color: #eb6652;
    letter-spacing: 0;
    line-height: 36px;
    display: none
}

.kn_sub_right .sublist li span, .kn_sub_right p a {
    display: inline-block
}

.kn_sub .addbordercolor {
    border-color: #22b5e6 !important
}

.kn_sub_right {
    border: 1px solid #dfdfdf;
    -moz-box-shadow: 0 1px 3px #ccc;
    -o-box-shadow: 0 1px 3px #ccc;
    -ms-box-shadow: 0 1px 3px #ccc;
    box-shadow: 0 1px 3px #ccc;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 15px
}

    .kn_sub_right p {
        font-size: 13px;
        color: #7c89a6;
        padding-bottom: 10px
    }

        .kn_sub_right p .blue {
            color: #2092d9
        }

        .kn_sub_right p .yellow {
            color: #faa91e
        }

        .kn_sub_right p:nth-child(2) {
            border-bottom: 1px solid #e4e9f3
        }

    .kn_sub_right .allas {
        padding-top: 10px
    }

        .kn_sub_right .allas a {
            font-size: 13px;
            color: #7c89a6;
            font-weight: 700
        }

        .kn_sub_right .allas i {
            color: #b8c3d9;
            display: inline-block;
            margin: 0 12px;
            font-size: 16px
        }

    .kn_sub_right .title {
        font-size: 14px;
        color: #4c5c7f;
        letter-spacing: 1px;
        font-weight: 700
    }

    .kn_sub_right .sublist li {
        padding: 10px 0
    }

        .kn_sub_right .sublist li .per {
            width: 40px;
            height: 40px;
            margin: 0 5px;
            vertical-align: top
        }

            .kn_sub_right .sublist li .per img {
                max-width: 100%;
                -webkit-border-radius: 40px;
                -moz-border-radius: 40px;
                -ms-border-radius: 40px;
                -o-border-radius: 40px;
                border-radius: 40px
            }

        .kn_sub_right .sublist li .pertitle {
            margin-right: 15px;
            width: 63%
        }

            .kn_sub_right .sublist li .pertitle a {
                font-size: 13px;
                color: #69748c;
                letter-spacing: 0;
                display: block;
                word-wrap: normal;
                text-overflow: ellipsis;
                overflow: hidden
            }

        .kn_sub_right .sublist li .num {
            display: inline-block;
            width: 15px;
            height: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            border-radius: 15px;
            color: #fff;
            font-size: 12px;
            background-color: #faa91e;
            line-height: 15px;
            text-align: center;
            vertical-align: super
        }

        .kn_sub_right .sublist li .percontent {
            font-size: 12px;
            color: #b8c3d9;
            display: block
        }

            .kn_sub_right .sublist li .percontent em {
                font-size: 12px;
                color: #faa91e;
                display: inline-block;
                margin-left: 3px
            }

.kn_sub_collect {
    display: none;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 3px #ccc;
    -moz-box-shadow: 0 1px 3px #ccc;
    -o-box-shadow: 0 1px 3px #ccc;
    -ms-box-shadow: 0 1px 3px #ccc;
    box-shadow: 0 1px 3px #ccc;
    width: 420px
}

    .kn_sub_collect .layer02top {
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        font-size: 16px;
        color: #333
    }

        .kn_sub_collect .layer02top em {
            font-size: 14px;
            color: #4c5c7f;
            letter-spacing: 1px;
            font-weight: 700
        }

        .kn_sub_collect .layer02top .closec {
            color: #b8c3d9;
            font-size: 18px
        }

    .kn_sub_collect .layerwrap {
        color: #b8c3d9
    }

        .kn_sub_collect .layerwrap .collectwrap p, .kn_sub_collect .layerwrap .pinfor {
            font-size: 14px;
            color: #7c89a6;
            letter-spacing: 0
        }

        .kn_sub_collect .layerwrap .pinfor {
            text-align: center;
            padding: 40px 20px
        }

        .kn_sub_collect .layerwrap .collectwrap {
            padding: 20px 20px 30px
        }

            .kn_sub_collect .layerwrap .collectwrap .checkradiro {
                font-size: 14px;
                color: #7c89a6;
                letter-spacing: 0;
                margin: 10px 0
            }

                .kn_sub_collect .layerwrap .collectwrap .checkradiro input[type=radio] {
                    margin-right: 10px !important
                }

                .kn_sub_collect .layerwrap .collectwrap .checkradiro .selectbox {
                    background: #fff;
                    border: 1px solid #b8c3d9;
                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    -ms-border-radius: 2px;
                    -o-border-radius: 2px;
                    border-radius: 2px;
                    font-size: 13px;
                    color: #4c5c7f;
                    letter-spacing: 0;
                    width: 190px;
                    height: 30px
                }

                    .kn_sub_collect .layerwrap .collectwrap .checkradiro .selectbox select {
                        width: 100%;
                        height: 100%;
                        outline: 0;
                        border: none
                    }

    .kn_sub_collect .suballbtns .confrim_btn, .kn_sub_collect .suballbtns .sub_btn {
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        font-size: 14px;
        letter-spacing: 0
    }

    .kn_sub_collect .suballbtns {
        text-align: center;
        margin: 20px 10px
    }

        .kn_sub_collect .suballbtns a {
            display: inline-block;
            height: 28px;
            text-align: center;
            padding: 0 10px;
            line-height: 28px;
            margin: 0 5px
        }

        .kn_sub_collect .suballbtns .sub_btn {
            background: #2092d9;
            border-radius: 2px;
            color: #fff
        }

        .kn_sub_collect .suballbtns .see_btn {
            border: 1px solid #2092d9;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            border-radius: 2px;
            font-size: 14px;
            color: #2092d9;
            letter-spacing: 0
        }

        .kn_sub_collect .suballbtns .confrim_btn {
            background: #faa91e;
            border-radius: 2px;
            color: #fff
        }

        .kn_sub_collect .suballbtns .add_btn {
            background: #2092d9;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            border-radius: 2px;
            font-size: 14px;
            color: #fff;
            letter-spacing: 0
        }

.hotlightIllustrations {
    background-color: #fff;
    width: 300px;
    position: fixed;
    height: 48px;
    padding: 0 30px;
    bottom: -72px;
    right: 0;
    z-index: 1500;
    display: none;
    border-left: 2px solid #91d63c;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd
}

    .hotlightIllustrations .closed {
        font-size: 22px;
        color: #999;
        font-weight: 700;
        position: absolute;
        right: 30px;
        top: 14px
    }

    .hotlightIllustrations .knillcontent p {
        line-height: 45px
    }

        .hotlightIllustrations .knillcontent p .fa-lights {
            background: url(../images/web/newimgs/light.gif) top center no-repeat;
            display: inline-block;
            width: 22px;
            height: 27px;
            vertical-align: middle
        }

        .hotlightIllustrations .knillcontent p .fa-check-circle {
            color: #91d63c;
            font-size: 18px;
            vertical-align: middle
        }

        .hotlightIllustrations .knillcontent p em {
            vertical-align: middle;
            font-size: 16px;
            color: #666;
            display: inline-block;
            margin-left: 10px
        }
