@model string
@{
    ViewBag.Title = "物探作业";
}
@section stylesSection{
    <style>
        .reset-cursor a {
            /*cursor: default;*/
        }
    </style>
}
<div id="app">
    <div class="jurassic-section">
        <div class="jurassic-row">
            <div class="jurassic-col-12">
                <div class="jurassic-container reset-cursor">
                    @*<pks:singletitle :title="g1.title" :map="config.map" :data="g1.list" fontclass="glyphicon glyphicon-star" :onshowmore="showMore" :onclick="linkItem"></pks:singletitle>*@
                    <pks:singletitle :title="g1.title" :map="config.map" :data="g1.list" :onshowmore="showMore" :onclick="click"></pks:singletitle>
                </div>
            </div>
        </div>
    </div>
    <div class="jurassic-section">
        <div class="jurassic-row">
            <pks:panel :title="g2Title" :show="false">
                <div slot="panel">
                    <div class="jurassic-section" style="padding-top:10px">
                        <pks:table :datasource="g2" id="g2" :ontabclick="onTabClick" :onrowclick="onRowClick"></pks:table>
                    </div>
                    <div class="jurassic-section">
                        <pks:tabs class="fixed-height" :titles="tab.titles">
                            <div slot="地震采集设计报告">
                                <pks:listm :data="g3_1" :map="config.map" :onclick="click"></pks:listm>
                            </div>
                            <div slot="地震采集基本数据表">
                                <pks:table :datasource="g3_2" id="g3_2"></pks:table>
                            </div>
                            <div slot="地震采集工区位置图" class="jurassic-text-center">
                                <img :src="g3_3" />
                            </div>
                            @*<div slot="地震采集日报" >
                                    <pks:listm :data="g3_4" :map="config.map" :onclick="click"></pks:listm>
                                </div>*@
                        </pks:tabs>
                    </div>
                </div>
            </pks:panel>
        </div>
    </div>
</div>
<script src="~/Scripts/dynamicBootstrapTable.js"></script>
<script>
    var model = @Html.Raw(Model);

    var _CURDATE_ = "";
    var _CURSWA_ = null;
    function GetWellInfo() {
        var swa = _CURSWA_.Block || _CURSWA_.tablename;
        if(!swa) return;
        $.ajax({
            url: "/ExplorationDynamic/GetGeophysicalInfo",
            type: "post",
            data: { swa: swa, date: _CURDATE_ },
            success: function (res) {
                res = JSON.parse(res);
                app.g3_1=res["g3_1"];
                app.g3_2 = setBootstrapTableOptions(res["g3_2"]);
                app.g3_3 = res["g3_3"];
                app.g3_4 = res["g3_4"];
            }
        });
    }

    var goToDetail = function(iiid){
        var url = "/ExplorationDynamic/GoToPublicPage?iiid=" + iiid;
        window.open(url,"_blank");
    };
    var goToSearchPage = function (pt,period){
        if (period==null) {
            open("/ExplorationOverview/GoToSearchPage?pt="+pt,"_blank");
        }else{
            open("/ExplorationOverview/GoToSearchPage?pt="+pt+"&period="+period,"_blank");
        }
    };
    var map = { "left": "title", "right": "ShortDate", "url": "iiid" };
    var tabTitles = ["地震采集设计报告","地震采集基本数据表", "地震采集工区位置图"];//, "地震采集日报"
    bootstrapTableOptions.showTitleTab = true;
    var app = PKSUI.bind({
        el: "#app",
        data: {
            config: {map:map,listMap:[map,map,map]},
            g2Title: "采集作业动态表",
            tab: { titles: tabTitles },
            g1: { title: "地震采集情况", list: model["g1"] },
            g2: setBootstrapTableOptions(model["g2"]),
            g3_1:[],
            g3_2:[],
            g3_3:"",
            g3_4:[]
        },
        methods: {
            linkItem: function (e) {
                goToDetail(e);
            },
            showMore:function(e){
                var map={
                    "地震采集情况":"地震采集情况"
                };
                goToSearchPage(map[e]);
            },
            click: function (e) {
                goToDetail(e);
            },
            onRowClick: function (e, row, $element, tablename) {
                _CURSWA_ = row;
                GetWellInfo();
            },
            onTabClick: function (index, table) {
                if(index == 0) return;
                _CURSWA_ = table;
                GetWellInfo();
            }
        },
        model: ["pks:singletitle", "pks:listm", "pks:panellist", "pks:panel", "pks:tabs", "pks:list", "pks:multipletitle","pks:table"]
    });
    bootstrapTableOptions.showTitleTab = false;
</script>

