@model string
@{
    ViewBag.Title = "录井作业";
}
<style type="text/css">
    th, td {
        min-width: 90px;
    }
</style>
<div id="app">
    <div class="jurassic-section">
        <div class="jurassic-row">
            <div class="jurassic-col-12">
                <div class="jurassic-container">
                    <pks:singletitle :title="g1.title" :map="config.map" :data="g1.list" fontclass="glyphicon glyphicon-star" :onshowmore="showMore" :onclick="linkItem"></pks:singletitle>
                </div>
            </div>
        </div>
    </div>
    <div class="jurassic-section">
        <div class="jurassic-row">
            <pks:panel :title="g2Title" :show="false">
                <div slot="panel">
                    <div class="jurassic-section" style="padding-top:10px">
                        <pks:table :datasource="g2" id="G2" :ontabclick="onTabClick" :onrowclick="onRowClick"></pks:table>
                    </div>
                    <div class="jurassic-section">
                        <pks:tabs class="fixed-height" :titles="tabTitles">
                            <div slot="蒙太奇图">
                                <pks:listm :data="g3_1" :map="config.map" :onclick="click"></pks:listm>
                            </div>
                            <div slot="录井草图">
                                <pks:listm :data="g3_2" :map="config.map" :onclick="click"></pks:listm>
                            </div>
                            <div slot="油气显示表">
                                <pks:table :datasource="g3_3" id="G3_3"></pks:table>
                            </div>
                            @*<div slot="钻井地质日报">
                                <pks:listm :data="g3_4" :map="config.map" :onclick="click"></pks:listm>
                            </div>*@
                            <div slot="相邻井">
                                <pks:listm :data="g3_5" :map="config.map" :onclick="click"></pks:listm>
                            </div>
                        </pks:tabs>
                    </div>
                </div>
            </pks:panel>
        </div>
    </div>

</div>
<script src="~/Scripts/dynamicBootstrapTable.js"></script>
<script>
    var model = @Html.Raw(Model);

    var _CURDATE_ = "";
    var _CURWELL_ = null;
    function GetWellInfo() {
        var well = _CURWELL_.Well || _CURWELL_.tablename;
        if(!well) return;
        $.ajax({
            url: "/ExplorationDynamic/GetLoggingWellInfo",
            type: "post",
            data: { wellId: well, date: _CURDATE_ },
            success: function (res) {
                res = JSON.parse(res);
                app.g3_1 = res["g3_1"];
                app.g3_2 = res["g3_2"];
                app.g3_3 = setBootstrapTableOptions(res["g3_3"]);
                app.g3_4 = res["g3_4"];
                app.g3_5 = res["g3_5"];
            }
        });
    }

    var goToDetail = function(iiid){
        var url = "/ExplorationDynamic/GoToPublicPage?iiid=" + iiid;
        window.open(url,"_blank");
    };
    var goToSearchPage = function (pt,period){
        if (period==null) {
            open("/ExplorationOverview/GoToSearchPage?pt="+pt,"_blank");
        }else{
            open("/ExplorationOverview/GoToSearchPage?pt="+pt+"&period="+period,"_blank");
        }
    };
    var map = { "left": "title", "right": "ShortDate", "url": "iiid" };
    var tabTitles = ["蒙太奇图","录井草图", "油气显示表", "相邻井"];//"钻井地质日报", 
    bootstrapTableOptions.showTitleTab = true;
    var app = PKSUI.bind({
        el: "#app",
        data: {
            config: {map:map,listMap:[map,map,map]},
            g2Title: "录井动态",
            tabTitles: tabTitles,
            g1: { title: "录井油气发现", list: model["g1"] },
            g2: setBootstrapTableOptions(model["g2"]),
            g3_1:[],
            g3_2:[],
            g3_3:[],
            g3_4:[],
            g3_5:[]
        },
        methods: {
            linkItem: function (e) {
                goToDetail(e);
            },
            showMore:function(e){
                var map={
                    "录井油气发现":"录井油气发现"
                };
                goToSearchPage(map[e]);
            },
            click: function (e) {
                goToDetail(e);
            },
            onRowClick: function (e, row, $element, tablename) {
                _CURWELL_ = row;
                GetWellInfo();
            },
            onTabClick: function (index, table) {
                if(index == 0) return;
                _CURWELL_ = table;
                GetWellInfo();
            }
        },
        model: ["pks:singletitle", "pks:listm", "pks:panellist", "pks:panel", "pks:tabs", "pks:list", "pks:multipletitle","pks:table"]
    });
    bootstrapTableOptions.showTitleTab = false;
</script>


