@*用户设置页面，用户头像的显示，为了满足头像自定义的更改需要，将这部分写在分部视图中*@
<div class="contentdivl">@FStr.UserAvatar</div>
<div class="contentdivr">
    <img class="icon-new-userinfo" style="width:24px; height:24px;background-color:#e7e7e7;" />
</div>
