@using Jurassic.WebQuery;
@Html.AdvDataEdit()

@*如果需要自定义控件的显示，则下面的代码：
@Html.AdvDataEdit(CustomEmailControl)

@helper CustomEmailControl(string propName, object value)
{
    if (propName == "Email")
    {
        <label>电子邮件：</label>
        @Html.TextBox("Email", value, new{ vtype="email", @class="mini-textbox"})
    }
}
*@
<script type="text/javascript">
    mini.parse();

    //自定义验证规则
    //mini.get('master_Country').on('validation', function (e) {
    //    if (e.value == '美国') {
    //        e.isValid = false;
    //        e.errorText = '不能在美国';
    //    }
    //});

    //自定义全局事件
    //$('form').bind('beforeSubmit', function (obj, ajax) {
    //    if (ajax.text == '保存') {
    //        alert('拒绝保存');
    //        ajax.cancel = true;
    //    }
    //});
</script>