/*右边工具栏---开始*/
.leaflet-toolbarbutton-station{
    margin-top:90px;
    margin-right:90px;
    width:90px;
    height:auto;
    min-height:160px; 
    color:#cbe42b;
    font-size:12px;
    font-weight:bold;
    vertical-align:middle;
    text-align:center;
    border-radius:4px;
    
}
.leaflet-toolbarbutton-content{
    /*max-height:425px;*/
    position:relative;
    text-decoration: none; /* 不显示超链接下划线 */
}
.leaflet-toolbarbutton-ul{
    clear:both;
    display: block;
    width:90px;
    margin:0px;
    overflow-y:hidden;
    overflow-x:hidden;
    max-height:450px; /*限制工具栏高度*/
    text-decoration: none; /* 不显示超链接下划线 */
}
.leaflet-toolbarbutton-ul li{
    display: block;
    width:90px;
    height:90px; 
    background: rgba(34, 53, 108, 0.8) !important; /* IE无效，FF有效 背景透明，而内容不透明*/  
    filter: alpha(opacity=80);  
    /*background-color:#000;*/
    /*background:url("../Images/ToolBar/工具栏底条background.png") no-repeat top center;*/
    color:#cbe42b;
    font-size:12px;
    font-weight:bold;
    vertical-align:middle;
    text-align:center;
    border: 0px #202A5E solid; /* 边框 */
    border-bottom-width:1px;
    text-decoration: none; /* 不显示超链接下划线 */
}
    .leaflet-toolbarbutton-ul > li:last-child{
                border-bottom-width:0px;
                /*margin-bottom:90px;*/
            }

    .leaflet-toolbarbutton-btn{
        display: block;
        width:90px;
        height:90px; 
        line-height:90px;
        vertical-align:middle;
        text-align:center;
        padding-top:17px;
        text-decoration: none; /* 不显示超链接下划线 */
    }
    /*图标*/
    .leaflet-toolbarbutton-btn > div:first-child{
        display:block;
        /*background-image:url("../Images/Navbar/海管up.png") ;*/
        width:42px;
        height:42px;
        vertical-align:middle;
        text-align:center;
        align-content:center;
        margin-left: auto;
        margin-right: auto;
        
    }
    /*文字*/
    .leaflet-toolbarbutton-btn > div:last-child{
        display:block;
        width:90px;
        line-height:24px;
        text-align:center;
        vertical-align:middle;
        font-size:12px;
        font-weight:bold;
        /*margin-top:-8px;*/
        margin-left: auto;
        margin-right: auto;
        color:#677191;
        text-decoration: none; /* 不显示超链接下划线 */
    }

    .leaflet-toolbarbutton-btn:hover > div:last-child{
        color:#96a0bc;
        
    }
     .leaflet-toolbarbutton-btn:active > div:last-child{
        
        color:#fff;
    }

     /*按钮*/
     .leaflet-toolbarbutton-scrollup{
         background-color:#22356C;
         width:90px;
         height:18px;
         background:url("../Images/ToolBar/工具栏底条background.png") no-repeat top center;
     }
     .leaflet-toolbarbutton-scrollup > img{
         width:21px;
         height:13px;
     }
     .leaflet-toolbarbutton-scrolldown{
         background-color:#22356C;
         width:90px;
         height:18px;
         background:url("../Images/ToolBar/工具栏底条background.png") no-repeat top center;
     }
     .leaflet-toolbarbutton-scrolldown > img{
         width:21px;
         height:13px;
     }


/*右边工具栏---结束*/





/*人员动态*/

.leaflet-toolbarbutton-rydt > div:first-child{
    background:url("../Images/ToolBar/人员动态down.png") no-repeat top center;
}
.leaflet-toolbarbutton-rydt:hover > div:first-child{
    background:url("../Images/ToolBar/人员动态over.png") no-repeat top center;
}
.leaflet-toolbarbutton-rydt:active > div:first-child{
    background:url("../Images/ToolBar/人员动态Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-rydt-selected > div:first-child{    
    background:url("../Images/ToolBar/人员动态Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-rydt-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}

/*船舶动态*/
.leaflet-toolbarbutton-cbdt > div:first-child{
    background:url("../Images/ToolBar/船舶动态Down.png") no-repeat top center;
}
.leaflet-toolbarbutton-cbdt:hover > div:first-child{
    background:url("../Images/ToolBar/船舶动态over.png") no-repeat top center;
}
.leaflet-toolbarbutton-cbdt:active > div:first-child{
    background:url("../Images/ToolBar/船舶动态Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-cbdt-selected > div:first-child{    
    background:url("../Images/ToolBar/船舶动态Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-cbdt-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}
/*船舶动态*/
.leaflet-toolbarbutton-cbdt2 > div:first-child{
    background:url("../Images/ToolBar/船舶动态Down.png") no-repeat top center;
}
.leaflet-toolbarbutton-cbdt2:hover > div:first-child{
    background:url("../Images/ToolBar/船舶动态over.png") no-repeat top center;
}
.leaflet-toolbarbutton-cbdt2:active > div:first-child{
    background:url("../Images/ToolBar/船舶动态Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-cbdt2-selected > div:first-child{    
    background:url("../Images/ToolBar/船舶动态Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-cbdt2-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}

/*台风信息*/
.leaflet-toolbarbutton-tfxx > div:first-child{
    background:url("../Images/ToolBar/台风信息Down.png") no-repeat top center;
}
.leaflet-toolbarbutton-tfxx:hover > div:first-child{
    background:url("../Images/ToolBar/台风信息over.png") no-repeat top center;
}
.leaflet-toolbarbutton-tfxx:active > div:first-child{
    background:url("../Images/ToolBar/台风信息Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-tfxx-selected > div:first-child{    
    background:url("../Images/ToolBar/台风信息Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-tfxx-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}
/*报警信息*/
.leaflet-toolbarbutton-bjxx > div:first-child{
    background:url("../Images/ToolBar/报警信息Down.png") no-repeat top center;
}
.leaflet-toolbarbutton-bjxx:hover > div:first-child{
    background:url("../Images/ToolBar/报警信息over.png") no-repeat top center;
}
.leaflet-toolbarbutton-bjxx:active > div:first-child{
    background:url("../Images/ToolBar/报警信息Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-bjxx-selected > div:first-child{    
    background:url("../Images/ToolBar/报警信息Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-bjxx-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}
/*事故动态*/
.leaflet-toolbarbutton-sgdt > div:first-child{
    background:url("../Images/ToolBar/海管故障Down.png") no-repeat top center;
}
.leaflet-toolbarbutton-sgdt:hover > div:first-child{
    background:url("../Images/ToolBar/海管故障over.png") no-repeat top center;
}
.leaflet-toolbarbutton-sgdt:active > div:first-child{
    background:url("../Images/ToolBar/海管故障Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-sgdt-selected > div:first-child{    
    background:url("../Images/ToolBar/海管故障Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-sgdt-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}
/*海管监控*/
.leaflet-toolbarbutton-hgjk > div:first-child{
    background:url("../Images/ToolBar/海管监控Down.png") no-repeat top center;
}
.leaflet-toolbarbutton-hgjk:hover > div:first-child{
    background:url("../Images/ToolBar/海管监控over.png") no-repeat top center;
}
.leaflet-toolbarbutton-hgjk:active > div:first-child{
    background:url("../Images/ToolBar/海管监控Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-hgjk-selected > div:first-child{    
    background:url("../Images/ToolBar/海管监控Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-hgjk-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}
/*船舶计划*/
.leaflet-toolbarbutton-cbjh > div:first-child{
    background:url("../Images/ToolBar/船舶航行计划Down.png") no-repeat top center;
}
.leaflet-toolbarbutton-cbjh:hover > div:first-child{
    background:url("../Images/ToolBar/船舶航行计划over.png") no-repeat top center;
}
.leaflet-toolbarbutton-cbjh:active > div:first-child{
    background:url("../Images/ToolBar/船舶航行计划Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-cbjh-selected > div:first-child{    
    background:url("../Images/ToolBar/船舶航行计划Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-cbjh-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}
/*飞行计划*/
.leaflet-toolbarbutton-fxjh > div:first-child{
    background:url("../Images/ToolBar/直升机飞行计划Down.png") no-repeat top center;
}
.leaflet-toolbarbutton-fxjh:hover > div:first-child{
    background:url("../Images/ToolBar/直升机飞行计划over.png") no-repeat top center;
}
.leaflet-toolbarbutton-fxjh:active > div:first-child{
    background:url("../Images/ToolBar/直升机飞行计划Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-fxjh-selected > div:first-child{    
    background:url("../Images/ToolBar/直升机飞行计划Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-fxjh-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}
/*雷达监控*/
.leaflet-toolbarbutton-ldjk > div:first-child{
    background:url("../Images/ToolBar/雷达监控Down.png") no-repeat top center;
}
.leaflet-toolbarbutton-ldjk:hover > div:first-child{
    background:url("../Images/ToolBar/雷达监控over.png") no-repeat top center;
}
.leaflet-toolbarbutton-ldjk:active > div:first-child{
    background:url("../Images/ToolBar/雷达监控Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-ldjk-selected > div:first-child{    
    background:url("../Images/ToolBar/雷达监控Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-ldjk-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}
/*库存备件*/
.leaflet-toolbarbutton-kcbj > div:first-child{
    background:url("../Images/ToolBar/库存备件Down.png") no-repeat top center;
}
.leaflet-toolbarbutton-kcbj:hover > div:first-child{
    background:url("../Images/ToolBar/库存备件over.png") no-repeat top center;
}
.leaflet-toolbarbutton-kcbj:active > div:first-child{
    background:url("../Images/ToolBar/库存备件Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-kcbj-selected > div:first-child{    
    background:url("../Images/ToolBar/库存备件Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-kcbj-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}
/*年度产量*/
.leaflet-toolbarbutton-ndcl > div:first-child{
    background:url("../Images/ToolBar/年度产量Down.png") no-repeat top center;
}
.leaflet-toolbarbutton-ndcl:hover > div:first-child{
    background:url("../Images/ToolBar/年度产量over.png") no-repeat top center;
}
.leaflet-toolbarbutton-ndcl:active > div:first-child{
    background:url("../Images/ToolBar/年度产量Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-ndcl-selected > div:first-child{    
    background:url("../Images/ToolBar/年度产量Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-ndcl-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}
/*月度产量*/
.leaflet-toolbarbutton-ydcl > div:first-child{
    background:url("../Images/ToolBar/月度产量Down.png") no-repeat top center;
}
.leaflet-toolbarbutton-ydcl:hover > div:first-child{
    background:url("../Images/ToolBar/月度产量over.png") no-repeat top center;
}
.leaflet-toolbarbutton-ydcl:active > div:first-child{
    background:url("../Images/ToolBar/月度产量Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-ydcl-selected > div:first-child{    
    background:url("../Images/ToolBar/月度产量Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-ydcl-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}
/*气象服务*/
.leaflet-toolbarbutton-qxfw > div:first-child{
    background:url("../Images/ToolBar/气象服务Down.png") no-repeat top center;
}
.leaflet-toolbarbutton-qxfw:hover > div:first-child{
    background:url("../Images/ToolBar/气象服务over.png") no-repeat top center;
}
.leaflet-toolbarbutton-qxfw:active > div:first-child{
    background:url("../Images/ToolBar/气象服务Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-qxfw-selected > div:first-child{    
    background:url("../Images/ToolBar/气象服务Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-qxfw-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}
/*应急联系*/
.leaflet-toolbarbutton-yjlx > div:first-child{
    background:url("../Images/ToolBar/应急联系Down.png") no-repeat top center;
}
.leaflet-toolbarbutton-yjlx:hover > div:first-child{
    background:url("../Images/ToolBar/应急联系over.png") no-repeat top center;
}
.leaflet-toolbarbutton-yjlx:active > div:first-child{
    background:url("../Images/ToolBar/应急联系Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-yjlx-selected > div:first-child{    
    background:url("../Images/ToolBar/应急联系Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-yjlx-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}

.tool-bar {
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 4px;
	}
.tool-bar a,
.tool-bar a:hover {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 35px;
	height: 35px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
	}
.tool-bar a,
.tool-control-layers-toggle {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	}
.tool-bar a:hover {
	background-color: #f4f4f4;
	}
.tool-bar a:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	}
.tool-bar a:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: none;
	}
.tool-bar a.leaflet-disabled {
	cursor: default;
	background-color: #f4f4f4;
	color: #bbb;
	}

.tool-touch .tool-bar a {
	width: 35px;
	height: 35px;
	line-height: 35px;
	}


/*吊机*/
.leaflet-toolbarbutton-diaoji > div:first-child{
    background:url("../Images/ToolBar/吊机Down.png") no-repeat top center;
}
.leaflet-toolbarbutton-diaoji:hover > div:first-child{
    background:url("../Images/ToolBar/吊机over.png") no-repeat top center;
}
.leaflet-toolbarbutton-diaoji:active > div:first-child{
    background:url("../Images/ToolBar/吊机Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-diaoji-selected > div:first-child{    
    background:url("../Images/ToolBar/吊机Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-diaoji-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}

/*发电机*/
.leaflet-toolbarbutton-fadianji > div:first-child{
    background:url("../Images/ToolBar/发电机Down.png") no-repeat top center;
}
.leaflet-toolbarbutton-fadianji:hover > div:first-child{
    background:url("../Images/ToolBar/发电机over.png") no-repeat top center;
}
.leaflet-toolbarbutton-fadianji:active > div:first-child{
    background:url("../Images/ToolBar/发电机Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-fadianji-selected > div:first-child{    
    background:url("../Images/ToolBar/发电机Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-fadianji-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}
/*储罐*/
.toolbar-chuguan {
    width: 35px;
	height: 35px;
     background:url("../Images/ToolBarIcon/chuguan_35.png") no-repeat;
     border-radius: 4px;
}

/*消防系统*/
.leaflet-toolbarbutton-xiaofang > div:first-child{
    background:url("../Images/ToolBar/消防系统Down.png") no-repeat top center;
}
.leaflet-toolbarbutton-xiaofang:hover > div:first-child{
    background:url("../Images/ToolBar/消防系统over.png") no-repeat top center;
}
.leaflet-toolbarbutton-xiaofang:active > div:first-child{
    background:url("../Images/ToolBar/消防系统Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-xiaofang-selected > div:first-child{    
    background:url("../Images/ToolBar/消防系统Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-xiaofang-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}

/*救生系统*/
.leaflet-toolbarbutton-jiusheng > div:first-child{
    background:url("../Images/ToolBar/救生系统Down.png") no-repeat top center;
}
.leaflet-toolbarbutton-jiusheng:hover > div:first-child{
    background:url("../Images/ToolBar/救生系统over.png") no-repeat top center;
}
.leaflet-toolbarbutton-jiusheng:active > div:first-child{
    background:url("../Images/ToolBar/救生系统Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-jiusheng-selected > div:first-child{    
    background:url("../Images/ToolBar/救生系统Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-jiusheng-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}

/*承包商*/
.leaflet-toolbarbutton-chengbaoshang > div:first-child{
    background:url("../Images/ToolBar/承包商Down.png") no-repeat top center;
}
.leaflet-toolbarbutton-chengbaoshang:hover > div:first-child{
    background:url("../Images/ToolBar/承包商over.png") no-repeat top center;
}
.leaflet-toolbarbutton-chengbaoshang:active > div:first-child{
    background:url("../Images/ToolBar/承包商Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-chengbaoshang-selected > div:first-child{    
    background:url("../Images/ToolBar/承包商Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-chengbaoshang-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}

/*通用的按钮*/
.leaflet-toolbarbutton-tongyong > div:first-child{
    background:url("../Images/ToolBar/通用功能Down.png") no-repeat top center;
}
.leaflet-toolbarbutton-tongyong:hover > div:first-child{
    background:url("../Images/ToolBar/通用功能over.png") no-repeat top center;
}
.leaflet-toolbarbutton-tongyong:active > div:first-child{
    background:url("../Images/ToolBar/通用功能Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-chentongyonggbaoshang-selected > div:first-child{    
    background:url("../Images/ToolBar/通用功能Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-tongyong-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}

/*设备故障*/
.leaflet-toolbarbutton-sbgz > div:first-child{
    background:url("../Images/ToolBar/设备故障Down.png") no-repeat top center;
}
.leaflet-toolbarbutton-sbgz:hover > div:first-child{
    background:url("../Images/ToolBar/设备故障over.png") no-repeat top center;
}
.leaflet-toolbarbutton-sbgz:active > div:first-child{
    background:url("../Images/ToolBar/设备故障Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-sbgz-selected > div:first-child{    
    background:url("../Images/ToolBar/设备故障Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-sbgz-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}
/*设备信息*/
.leaflet-toolbarbutton-sbxx > div:first-child{
    background:url("../Images/ToolBar/设备信息Down.png") no-repeat top center;
}
.leaflet-toolbarbutton-sbxx:hover > div:first-child{
    background:url("../Images/ToolBar/设备信息over.png") no-repeat top center;
}
.leaflet-toolbarbutton-sbxx:active > div:first-child{
    background:url("../Images/ToolBar/设备信息Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-sbxx-selected > div:first-child{    
    background:url("../Images/ToolBar/设备信息Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-sbxx-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}
/*设备备件*/
.leaflet-toolbarbutton-sbbj > div:first-child{
    background:url("../Images/ToolBar/库存备件Down.png") no-repeat top center;
}
.leaflet-toolbarbutton-sbbj:hover > div:first-child{
    background:url("../Images/ToolBar/库存备件over.png") no-repeat top center;
}
.leaflet-toolbarbutton-sbbj:active > div:first-child{
    background:url("../Images/ToolBar/库存备件Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-sbbj-selected > div:first-child{    
    background:url("../Images/ToolBar/库存备件Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-sbbj-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}
/*设备工单*/
.leaflet-toolbarbutton-sbgd > div:first-child{
    background:url("../Images/ToolBar/维修工单Down.png") no-repeat top center;
}
.leaflet-toolbarbutton-sbgd:hover > div:first-child{
    background:url("../Images/ToolBar/维修工单over.png") no-repeat top center;
}
.leaflet-toolbarbutton-sbgd:active > div:first-child{
    background:url("../Images/ToolBar/维修工单Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-sbgd-selected > div:first-child{    
    background:url("../Images/ToolBar/维修工单Up.png") no-repeat top center;
}
.leaflet-toolbarbutton-sbgd-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}
/*EDIS*/
.leaflet-toolbarbutton-edis > div:first-child{
    background:url("../Images/ToolBar/EDISDOWN.png") no-repeat top center;
}
.leaflet-toolbarbutton-edis:hover > div:first-child{
    background:url("../Images/ToolBar/EDISOVER.png") no-repeat top center;
}
.leaflet-toolbarbutton-edis:active > div:first-child{
    background:url("../Images/ToolBar/EDISUP.png") no-repeat top center;
}
.leaflet-toolbarbutton-edis-selected > div:first-child{    
    background:url("../Images/ToolBar/EDISUP.png") no-repeat top center;
}
.leaflet-toolbarbutton-edis-selected > div:last-child{    
    color: #fff; /* 文字颜色 */
}