/*人员动态*/
.toolbar-rydt {
    width: 35px;
	height: 35px;
     background:url("../Images/ToolBarIcon/RYDT.png");
     border-radius: 4px;
}
/*船舶动态*/
.toolbar-cbdt {
    width: 35px;
	height: 35px;
     background:url("../Images/ToolBarIcon/CBDT.png");
     border-radius: 4px;
}
/*台风信息*/
.toolbar-tfxx {
    width: 35px;
	height: 35px;
     background:url("../Images/ToolBarIcon/TFXX.png");
     border-radius: 4px;
}
/*报警信息*/
.toolbar-bjxx {
    width: 35px;
	height: 35px;
     background:url("../Images/ToolBarIcon/BJXX.png");
     border-radius: 4px;
}
/*事故动态*/
.toolbar-sgdt {
    width: 35px;
	height: 35px;
     background:url("../Images/ToolBarIcon/SGDT.png");
     border-radius: 4px;
}
/*海管监控*/
.toolbar-hgjk {
    width: 35px;
	height: 35px;
     background:url("../Images/ToolBarIcon/HGJK.png");
     border-radius: 4px;
}
/*船舶计划*/
.toolbar-cbjh {
    width: 35px;
	height: 35px;
     background:url("../Images/ToolBarIcon/CBJH.png");
     border-radius: 4px;
}
/*飞行计划*/
.toolbar-fxjh {
    width: 35px;
	height: 35px;
     background:url("../Images/ToolBarIcon/FXJH.png");
     border-radius: 4px;
}
/*雷达监控*/
.toolbar-ldjk {
    width: 35px;
	height: 35px;
     background:url("../Images/ToolBarIcon/LDJK.png");
     border-radius: 4px;
}
/*库存备件*/
.toolbar-kcbj {
    width: 35px;
	height: 35px;
     background:url("../Images/ToolBarIcon/KCBJ.png");
     border-radius: 4px;
}
/*年度产量*/
.toolbar-ndcl {
    width: 35px;
	height: 35px;
     background:url("../Images/ToolBarIcon/NDCL.png");
     border-radius: 4px;
}
/*月度产量*/
.toolbar-ydcl {
    width: 35px;
	height: 35px;
     background:url("../Images/ToolBarIcon/YDCL.png");
     border-radius: 4px;
}
/*气象服务*/
.toolbar-qxfw {
    width: 35px;
	height: 35px;
     background:url("../Images/ToolBarIcon/QXFW.png");
     border-radius: 4px;
}
/*应急联系*/
.toolbar-yjlx {
    width: 35px;
	height: 35px;
     background:url("../Images/ToolBarIcon/YJLX.png");
     border-radius: 4px;
}
.tool-bar {
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 4px;
	}
.tool-bar a,
.tool-bar a:hover {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 35px;
	height: 35px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
	}
.tool-bar a,
.tool-control-layers-toggle {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	}
.tool-bar a:hover {
	background-color: #f4f4f4;
	}
.tool-bar a:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	}
.tool-bar a:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: none;
	}
.tool-bar a.leaflet-disabled {
	cursor: default;
	background-color: #f4f4f4;
	color: #bbb;
	}

.tool-touch .tool-bar a {
	width: 35px;
	height: 35px;
	line-height: 35px;
	}


/*吊机*/
.toolbar-diaoji {
    width: 35px;
	height: 35px;
     background:url("../Images/ToolBarIcon/DiaoJi_35.png") no-repeat;
     border-radius: 4px;
}
/*发电机*/
.toolbar-fadianji {
    width: 35px;
	height: 35px;
     background:url("../Images/ToolBarIcon/fadianji_35.png") no-repeat;
     border-radius: 4px;
}
/*储罐*/
.toolbar-chuguan {
    width: 35px;
	height: 35px;
     background:url("../Images/ToolBarIcon/chuguan_35.png") no-repeat;
     border-radius: 4px;
}
/*消防系统*/
.toolbar-xiaofang {
    width: 35px;
	height: 35px;
     background:url("../Images/ToolBarIcon/xiaofang_35.png") no-repeat;
     border-radius: 4px;
}
/*救生系统*/
.toolbar-jiusheng {
    width: 35px;
	height: 35px;
     background:url("../Images/ToolBarIcon/jiusheng_35.png") no-repeat;
     border-radius: 4px;
}
/*承包商*/
.toolbar-chengbaoshang {
    width: 35px;
	height: 35px;
     background:url("../Images/ToolBarIcon/chengbaoshang_35.png") no-repeat;
     border-radius: 4px;
}

