@{
    ViewBag.Title = "索引数据不存在";
    Layout = "~/Views/Shared/_errorLayout.cshtml";
}
<div class="row" style="margin-top: 150px;">
    <div class="col-md-offset-4 col-md-4" >
        <h3 style="color:coral">对不起，您当前查看的索引数据已不存在</h3>
    </div>
</div>
